* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: rgb(156, 156, 156);
}

canvas {
    /*position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: 1px solid black;
    background-color: #fff;

}

#divcanvas {
  display:flex;
  justify-content: center;
  padding-top: 10px; 
}

 #btndiv {
    display: flex;
    justify-content: center;
/*     position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-20%, -50%);
    border: 1px solid black; */
} 

#btndiv2 {
    display: flex;
    justify-content: center;
} 

#btndiv3, #btndiv4 {
    display: flex;
    justify-content: center;
} 

#btncontainer,#topdiv1,#topdiv2{
  display: flex;
  justify-content: center;
} 



footer {
  font-family: monospace;
  width: 100%;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 1px 1px 1px #737373; 
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: center;
  padding-bottom: 15px;
}
footer a {
  color: orangered;
}


.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }


  .btn-groupBox button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 20%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-groupBox button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-groupBox button:hover {
    background-color: #3e8e41;
  }

  .colortable td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #tablediv {
    float: left;
    padding: 10px 24px; /* Some padding */
  }